@font-face {
    font-family: 'ScalaCondensed';
    src: url('../fonts/scalawebpro-condbold.eot');
    src: url('../fonts/scalawebpro-condbold.eot') format('embedded-opentype'), url('../fonts/scalawebpro-condbold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'ScalaWebPro';
    src: url('../fonts/scalawebpro-ita.eot');
    src: url('../fonts/scalawebpro-ita.eot') format('embedded-opentype'), url('../fonts/scalawebpro-ita.woff') format('woff');
    font-style: italic;
}

@font-face {
    font-family: 'ScalaWebPro';
    src: url('../fonts/scalawebpro-boldita.eot');
    src: url('../fonts/scalawebpro-boldita.eot') format('embedded-opentype'), url('../fonts/scalawebpro-boldita.woff') format('woff');
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: 'ScalaWebPro';
    src: url('../fonts/scalawebpro-bold.eot');
    src: url('../fonts/scalawebpro-bold.eot') format('embedded-opentype'), url('../fonts/scalawebpro-bold.woff') format('woff');
    font-weight: bold;
}
html {
    background-color: black;
    height: 100%;
}
body {
    overflow-x: hidden;
    height: 100%;
}

/* ---------------table */
td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 0.5em;
    border: 1px solid;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 120%;
}

.table {
    display: table;
}
.tableCellMiddle {
    display: table-cell;
    vertical-align: middle;
}

th {
    border: 1px solid;
    border-bottom: 2px solid;
}

.footer td {
    font-weight: bold;
}

.colorTrSelected {
    background-color: rgb(178, 178, 178);
}

.buttonDisable {
    background: rgba(0, 0, 0, 0.37);
}

.book_list_left p {
    font-family: "ScalaWebPro";
    font-style: italic;
}

input[type=button]:active {
    background: rgba(0, 0, 0, 0.39);
}

.highlightOpacity {
    opacity: 0.3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.highlight_old {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background: rgb(255, 255, 255) !important;
    background: transparent \9 !important;
    background: rgba(19, 46, 83, 0.5) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFFFFFF, endColorstr=#4cFFFFFF);
}
.highlight{
    background: white;
}

.highlightOpacity {
    opacity: 0.5;
}

.textLeft {
    text-align: left;
}

/* --------- content info */
.special.info {
    position: absolute;
    right: 0px;
    top: 80px;
    bottom: 100px;
    left: 0px;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1500;
}

.special.info h1 {
    top: 50%;
    position: absolute;
    margin-top: -1em;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.symbolLoading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -8em;
}

.symbolLoading i {
    font-size: 14em;
    color: rgb(145, 145, 145);
}

/* --------- content cover */
.special.cover {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: white;
    z-index: 1500;
}

.main div.mainContent {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#verzeApp {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 3000;
}

.loading-image {
    border: 0;
    position: relative;
    left: 50%;
    margin: 20px 0px 20px -16px;
    width: 32px;
}

.article-author {
    font: italic bold 14px "ScalaWebPro";
    color: #969696;
    float: left;
    clear: both;
    margin: 14px 0 20px 0;
}

.literature {
    margin-bottom: 4px;
    font: italic bold 14px "ScalaWebPro";
    color: #969696;
    float: left;
    clear: both;
}

.article-type {
    margin: 0px 0px 10px 0px;
    font: bold 16px "ScalaWebPro";
    float: left;
    clear: both;
    color: #234f80;
    text-transform: uppercase;
}

.artical p:first-of-type {
    font-size: 17px;
}

.rating_box {
    height: 30px;
    padding: 0px 15px 40px 15px;
    position: relative;
}

.rating_button {
    font-family: "Arial";
    font-weight: bold;
    border: 1px solid #7aa0c2;
    color: #7aa0c2;
    border-radius: 5px;
    width: 136px;
    font-size: 14px;
    padding: 6px 0px 6px 0px;
    text-align: center;
}

.rating_button:nth-child(0) {
    float: left;
}

.rating_button:nth-child(1) {
    float: right;
}

/* --------- specificke ------------------ */
.header {
    min-height: 45px;

}

.mainContent {
    height: 100%;
    margin: 0px;
}

.container.content {
    width: 100%;
    height: auto;
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.discuss h3 {
    font-family: "ScalaCondensed";
}

/* --------- index */
.index .header {
    height: 79px;
}

.index .header .logo {
    margin-top: 23px;
}

.index .content {
    width: 100%;
    top: 79px;
    bottom: 50px;
}

.article .content, .articleDetail .content, .recCateg .content, .scan .content, .recList .content {
    width: 100%;
    top: 45px;
    bottom: 50px;
}

.recArticles .content, .articles .content {
    width: 100%;
    top: 91px;
    bottom: 50px;
}

.search .content {
    width: 100%;
    top: 115px;
    bottom: 50px;
}

.tab_link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.recCateg .next_link {
    margin-right: 15px;
}

.search-input {
    position: relative;
    top: 45px;
    padding: 15px;
    background-color: #e9e7db;
}

.search-input input {
    margin: 0;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.rec-categ {
    padding-top: 20px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e8e8e6;
}

.rec-categ h2 {
    float: left;
    font-size: 19.5px;
    margin-left: 15px;
}

.related-articles .book_list_left {
    margin-top: 10px;
}

.related-articles .book_list_right {
    margin-top: 13.5px;
}

.related-articles .book_list {
    padding-bottom: 10px;
}

.header .bs_title {
    margin: 0;
}

.header .select {
    position: absolute;
    top: 45px;
    right: 0;
    width: 75%;
    height: 46px;
    background-color: #244d80;
}

.header .select h2 {
    font-size: 1.2em;
    float: left;
    padding: 4px 0px 4px 20px;
    color: #ffffff;
}

.header .select .fa {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    margin: 11px 10px 0px 0px;
}

#selHodnoceni {
    position: absolute;
    background: transparent;
    border: 0px;
    color: transparent;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    top: 0px;
    width: 136px;
    font-size: 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-appearance: none;
}

#selSort {
    position: absolute;
    background: transparent;
    border: 0px;
    color: transparent;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    top: 0px;
    right: 0px;
    width: 120px;
    height: 45px;
    font-size: 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-appearance: none;
}

#selSocial {
    position: absolute;
    background: transparent;
    border: 0px;
    color: transparent;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    top: 0px;
    right: 15px;
    width: 136px;
    font-size: 22px;
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-appearance: none;
}

#selBeletrie {
    position: absolute;
    background: transparent;
    border: 0px;
    color: transparent;
    appearance: button;
    -moz-appearance: button;
    -webkit-appearance: button;
    right: 0;
    width: 100%;
    height: 46px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.next.text {
    text-align: center;
    width: 120px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    color: #244d80;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
}

.error {
    color: red;
    font-style: italic;
    font-size: 14px;
}

.footer ul li.highlight span, .footer .active {
    display: block;
    color: #d8e3e7;
}

.footer {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 10;
}

.mainContent {
    overflow-y: hidden;
}

._buttonClick {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.artical h3 {
    font-family: 'MmnzkkpohmarruujbvcfyufncxpRegular';
    font-size: 22px;
}

.search-by-tags {
    height: 100%;
    -webkit-transition: height 0.25s;
    transition: height 0.25s;
    overflow-y: auto;
}

.search-by-tags.reduced {
    display: none;
    overflow-y: hidden;
    height: 40px;
}

.search-by-tags h3 {
    padding-left: 10px;
    background-color: #e9e7db;
}

.search-by-tags ul li {
    list-style-type: none;
    padding: 10px 00px 10px 15px;
    color: #666666;
    border-bottom: 1px solid #e0e0e0;
}

.search-by-tags ul li.selected {
    color: #333333;
    font-weight: bold;
}

/*------------------- symbols and special characters*/
img.wait {
    width: 32px;
}
.special.wait {
    position: absolute;
    width: 100%;
    top: 79px;
    bottom: 50px;
    z-index: 2000;
}
.special.wait .table{
    width: 100%;
    height: 100%;
}
.special.wait .tableCellMiddle{
    text-align: center;
}
.waiter.table {
    width: 100%;
    height: 100%;
}
.waiter .tableCellMiddle {
    text-align: center;
}