/* ---------------table */
body, html {
    overflow: hidden;
}

td {
    white-space: nowrap;
    padding-right: 1em;
    padding-left: 0.5em;
    border: 1px solid;
    text-align: right;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 120%;
}

th {
    border: 1px solid;
    border-bottom: 2px solid;
}

.footer td {
    font-weight: bold;
}

.colorTrSelected {
    background-color: rgb(178, 178, 178);
}

.buttonDisable {
    background: rgba(0, 0, 0, 0.37);
}

input[type=button]:active {
    background: rgba(0, 0, 0, 0.39);
}

.highlightOpacity {
    opacity: 0.3;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.highlight {
    background-repeat: no-repeat;
    background-position: 20px 20px;
    background: rgb(255, 255, 255) !important;
    background: transparent \9 !important;
    background: rgba(0, 0, 0, 0.5) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4cFFFFFF, endColorstr=#4cFFFFFF);
}

.highlightOpacity {
    opacity: 0.5;
}

.textLeft {
    text-align: left;
}

/* --------- content info */
.special.info {
    position: absolute;
    right: 0px;
    top: 80px;
    bottom: 100px;
    left: 0px;
    background: rgba(128, 128, 128, 0.5);
    z-index: 1500;
}

.special.info.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.special.info h1 {
    top: 50%;
    position: absolute;
    margin-top: -1em;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.symbolLoading {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -8em;
}

.symbolLoading i {
    font-size: 14em;
    color: rgb(145, 145, 145);
}

/* --------- content cover */
.special.cover {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: grey;
    z-index: 1500;
}

.main div.mainContent {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 10%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#verzeApp {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.loading-image {
    border: 0;
    position: relative;
    left: 50%;
    margin: 20px 0px 20px -16px;
}

.rating_box {
    padding: 0px 15px 50px 15px;
}

.rating_button {
    border: 1px solid #7aa0c2;
    color: #7aa0c2;
    border-radius: 5px;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    padding: 6px 0px 6px 0px;
    text-align: center;
}

/* --------- specificke ------------------ */
.header {
    min-height: 45px;
}

.mainContent {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.mainContent.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.mainContent.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mainContent.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.mainContent.transition {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
}

.container.content {
    width: 100%;
    height: auto;
    position: absolute;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

/* --------- index */
.index .content {
    width: 100%;
    top: 140px;
    bottom: 72px;
}

.article .content, .articleDetail .content, .recCateg .content {
    top: 45px;
    bottom: 72px;
}

.recArticles .content, .articles .content {
    top: 91px;
    bottom: 72px;
}

.recCateg .next_link {
    margin-right: 15px;
}

.search .content {
    top: 115px;
    bottom: 72px;
}

.search-input {
    position: relative;
    top: 45px;
    padding: 15px;
    background-color: #e9e7db;
}

.search-input input {
    margin: 0;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.rec-categ {
    padding-top: 20px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid #e8e8e6;
}

.rec-categ h2 {
    float: left;
    font-size: 19.5px;
    margin-left: 15px;
}

.header .bs_title {
    margin: 0;
}

.header .select {
    position: absolute;
    top: 45px;
    right: 0;
    width: 75%;
    height: 46px;
    background-color: #244d80;
}

.header .select h2 {
    float: left;
    padding: 4px 0px 4px 20px;
    color: #ffffff;
}

.header .select .fa {
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
    float: right;
    margin: 11px 10px 0px 0px;
}

.next.text {
    text-align: center;
    width: 120px;
    height: 45px;
    line-height: 45px;
    vertical-align: middle;
    color: #244d80;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
}

.error {
    color: red;
    font-style: italic;
    font-size: 14px;
}

.footer ul li.highlight span, .footer .active {
    display: block;
    color: #d8e3e7;
}

._buttonClick {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer {
    overflow: hidden;
}