<?xml version='1.0' encoding='utf-8'?>
<widget id="cz.initedsolutions.iLiteratura" version="0.0.1" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>iLiteratura</name>
    <description>
        iLiteratura.cz - Recenze knih, články, rozhovory, literární scéna.
    </description>
    <author href="http://inited.cz" email="info@inited.cz">INITED Solutions s.r.o.</author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="Fullscreen" value="false"/>
    <preference name="target-device" value="universal"/>
    <preference name="prerendered-icon" value="true"/>
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <preference name="detect-data-types" value="true"/>
    <preference name="exit-on-suspend" value="false"/>
    <preference name="EnableViewportScale" value="true"/>
    <preference name="disable-cursor" value="false"/>
    <preference name="android-minSdkVersion" value="7"/>
    <preference name="android-installLocation" value="auto"/>
    <preference name="orientation" value="portrait"/>
    <preference name="AutoHideSplashScreen" value="false"/>
    <preference name="SplashScreen" value="screen"/>
    <preference name="SplashScreenDelay" value="5000"/>

    <gap:plugin name="com.phonegap.plugins.PushPlugin"/>
    <gap:plugin name="com.phonegap.plugins.barcodescanner"/>
    <gap:plugin name="org.apache.cordova.device"/>
    <gap:plugin name="org.apache.cordova.network-information"/>
    <gap:plugin name="org.apache.cordova.splashscreen"/>
    <gap:plugin name="org.apache.cordova.statusbar"/>

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>

    <!-- ICON and SPLASHSCREENS -->
    <icon src="splscreen/icon.png"/>

    <gap:platform name="android">
        <gap:splash src="splscreen/devices_240x320.png" density="port-ldpi"/>
        <gap:splash src="splscreen/devices_320x480.png" density="port-mdpi"/>
        <gap:splash src="splscreen/devices_480x800.png" density="port-hdpi"/>
        <gap:splash src="splscreen/devices_640x960.png" density="port-xhdpi"/>
    </gap:platform>

    <gap:platform name="ios">
        <!-- iPad -->
        <!-- non-retina -->
        <gap:splash src="splscreen/devices_768x1024.png" width="768" height="1024"/>
        <!-- retina -->
        <gap:splash src="splscreen/devices_1536x2048.png" width="1536" height="2048"/>

        <!-- iPhone -->
        <!-- non-retina -->
        <gap:splash src="splscreen/devices_320x480.png" width="320" height="480"/>
        <!-- retina -->
        <gap:splash src="splscreen/devices_640x960.png" width="640" height="960"/>

        <!-- iPhone5 -->
        <gap:splash src="splscreen/devices_640x1136.png" width="640" height="1136"/>

        <!-- iPhone6 -->
        <gap:splash src="" width="750" height="1334"/>

        <!-- iPhone6+ -->
        <gap:splash src="" width="1242" height="2208"/>
    </gap:platform>
</widget>